body {
    margin: 0;
    padding: 0;
    background: url(instabackground.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    font-size: 3rem;
    text-align: center;
    margin-top: 5vh;
}

#registerform {
    background-color: aliceblue;
    width: 55%;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    top: 3vh;
    left: 23%;
}

.label {
    font-size: 1.5rem;
    margin-left: 1vw;
}

.formInput {
    width: 50vw;
    height: 3.5vh;
    border-radius: 10px;
    font-size: larger;
    margin-bottom: 2vh;
    margin-left: 1vw;
}

.cusbtn {
    background-color: aquamarine;
    cursor: pointer;
    font-size: 2rem;
    height: 5vh;
}

#registerform a {
    color: black;
    font-size: 1.5rem;
    font-family: cursive;
    text-decoration: none;
    margin-left: 17vw;
}